<mat-toolbar id="header" >
    <h1>Orders and Customer details</h1>
</mat-toolbar>
<div id="login-form">
    <h3>If you are a Administrator, Please enter your admin code</h3>
    <mat-form-field appearance="fill">
        <mat-label>Enter Admin Code</mat-label>
        <input type="password" matInput name="tourGuideCode" [(ngModel)]="adminCode" placeholder="Admin code">
    </mat-form-field>
    <button mat-button color="primary" (click)="validateOrderView()">Submit</button>
    <!-- <h3>If you are a Visitor, <a routerLink="">click here</a></h3> -->
</div>